# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools and libtools automatically genereated files
**/configure
**/Makefile
**/autom4te.cache/**
config.log
config.status
**/config.guess
**/config.sub
**/config.h
**/config.h.in
**/Makefile.in
**/aclocal.m4
**/libtool.m4
**/lt*.m4
**/missing
**/ltmain.sh
**/libtool
**/compile
**/depcomp
**/stamp-h1
**/.deps/**
**/.libs/**
**/*.lo
**/*.la
**/*~
**/*.o
**/*.a
**/configure.scan
# Ignore test temporaries
**/*.trs
**/*.swp
