# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools genereated Makefiles
**/Makefile
**/autom4te.cache/**
config.log
config.status
**/.deps/**
**/.libs/**
**/*.lo
**/*.la
**/*.o
**/*.a
**/*~
**/configure.scan
**/config.*
**/missing
**/aclocal.m4
**/libtool.m4
**/lt*.m4
**/libtool
**/ltmain.sh
**/*.log
# Ignore test temporaries
**/*.trs
**/*.swp

# Ignore git files
.cproject
.project
