# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools genereated Makefiles
**/Makefile
**/autom4te.cache/**
config.log
**/config.log
config.*
**/config.*
**/libtool
**/libtool.m4
**/ltmain.sh
**/.deps/**
**/.libs/**
**/*.lo
**/*.la
**/*.o
**/*.a
**/*~
**/configure.scan
**/missing
**/aclocal.m4
**/lt*.m4
**/*.log
**/Makefile.in
# Ignore test temporaries
**/*.trs
**/*.swp

# Ignore git files
.cproject
.project
